<p class="notice"><%= notice %></p>

<div id="site">
 
  <h1><%= @site.type.name if @site.type %></h1>

  <%= image_tag(@site.image_url, :class => 'site_image') %>
  
  <!-- Aqui el mapa-->
  
  <div id="map_canvas" style="width:100%; height:100%"></div>
  
  <h3 id="site_name" ><%= @site.name %></h3>

  <p><%=sanitize @site.description %></p>
  
  <p><b>Autor:</b> <%= @site.user.name %></p>

  <div class="position">
    <span>
      <b>Latitude:</b>
      <span id="site_lat"><%= @site.latitude %></span>
    </span>
 
    <span>
       <b>Longitude:</b>
       <span id="site_lon"><%= @site.longitude %></span>
    </span>
  </div>
  
  <p />
  <div class="visits">
    <!-- Es la unica solucion que he encontrado a que salga una visita menos, puede que con reload... -->
    <em>Visits <%= @site.visits + 1 %></em>
  </div>
</div>

<h2>Comments</h2>
<% @site.comments.each do |comment| %>
  <p>
    <b>Commenter:</b>
    <%= User.find(comment.user_id).name %>
  </p>
 
  <p>
    <b>Comment:</b>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@site, @site.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if @site.user == current_user %>
  <%= link_to 'Edit', edit_site_path(@site) %> |
<% end %>
<%= link_to 'Back', sites_path %>

<script type="text/javascript">
  var latSitio = document.getElementById('site_lat').innerHTML;
  var lonSitio = document.getElementById('site_lon').innerHTML;
  var titleSitio = document.getElementById('site_name').innerHTML;

  // Store my position (“y=mylat”, “x=mylong”) in variable “lating”
  var latlng = new google.maps.LatLng(latSitio, lonSitio);

  // Define my Google Maps options in variable “myOptions”
  var myOptions = {
    zoom: 15, // Define scale
    center: latlng, // Define map center
    mapTypeId: google.maps.MapTypeId.HYBRID // tipo Roadmad, Satellite, Terrain, Hybrid
  };

  // Load Google Map according to “myOptions” in Canvas identified by “map_canvas”
  var map = new google.maps.Map(document.getElementById('map_canvas'), myOptions);

  // Add marker in Google Maps “map” in position defined by “lating”
  var marker = new google.maps.Marker({
    position: latlng,
    map: map,
    title: titleSitio
  });
</script>
